.product-section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 7.5rem;
}
.product-section .product-section_picture {
  width: 35%;
}
.product-section .product-section_picture img {
  width: 100%;
  height: 100%;
}
.product-section .product-section_text {
  margin-left: 3%;
  padding-top: 3rem;
  width: 24%;
}
.product-section_text .product-section_text__title {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.04em;
  color: #000f08;
  margin-bottom: 1.6rem;
}
.product-section_text .product-section_text__price {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  color: #000f08;
  margin-bottom: 0.8rem;
}
.product-section_text .product-section_text__order {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  color: #d8d8d8;
  margin-bottom: 2.5rem;
}
.product-section_text__color {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  color: #8c8c8c;
  margin-bottom: 2.5rem;
}
.product-section_text__size .product-section_text__size__title {
  margin-bottom: 1.6rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  color: #8c8c8c;
}
.product-section_text__size {
  margin-bottom: 3rem;
}
.product-section_text__button {
  margin-bottom: 3rem;
}
@media (max-width: 768px) {
  .product-section {
    flex-direction: column;
  }
  .product-section .product-section_picture {
    width: 80%;
    margin-left: 9%;
  }
  .product-section .product-section_picture img {
    width: 100%;
    height: auto;
  }
  .product-section .product-section_text {
    margin-left: 5%;
    width: 80%;
  }
  .product-section_text__button {
    text-align: center;
  }
}
@media (max-width: 320px) {
  .product-section .product-section_picture {
    margin-left: 4%;
    width: 90%;
  }
  .product-section .product-section_picture img {
    width: 100%;
    height: auto;
  }
  .product-section .product-section_text {
    width: 80%;
  }
}
