.bag-modal-overlay {
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}
.bag-modal-overlay .bag-modal-popup {
  position: fixed;
  left: 100%;
  width: 25%;
  height: 100%;
  transform: translateX(-100%);
  background-color: #fff;
  padding: 0.8rem 3%;
}
.bag-modal-overlay .bag-modal-popup .bag-modal-popup-text__bag {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  color: #000f08;
  margin-bottom: 2.2rem;
}
.bag-modal-overlay .bag-modal-popup .bag-modal-popup-text__total {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.04em;
  color: #000f08;
  margin-bottom: 3rem;
}
.bag-modal-overlay .bag-modal-popup .bag-modal-popup-text__button {
  padding: 1.5rem 3.8rem;
  color: #000f08;
  background-color: white;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-align: center;
  border: 2px solid #000f08;
  outline: none;
  margin-bottom: 0.8rem;
}
.bag-modal-overlay .bag-modal-popup .bag-modal-popup-text__button:hover {
  background-color: #8c8c8c;
  border: 2px solid #000f08;
  outline: none;
  box-shadow: 15px 15px 15px rgba(140, 140, 140, 0.4);
}
.bag-modal-popup-text .bag-popup-close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 40px;
  color: #000f08;
  font-weight: 300;
  cursor: pointer;
}
.bag-modal-overlay .bag-modal-popup .bag-modal-popup__picture img {
  width: 90%;
}
.bag-modal-popup__picture .bag-modal-popup__picture-text {
  position: absolute;
  color: aqua;
  right: 10px;
  top: 5px;
}
