.error-indicator {
  text-align: center;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.04em;
  color: #000f08;
}
.error-indicator div {
  margin-bottom: 5px;
}
.error-indicator .image-bam {
  width: 200px;
}
