.info {
  text-align: center;
  width: 50%;
  margin-left: 25%;
  padding-top: 3rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}
.info .info-title {
  margin-bottom: 1rem;
  font-size: 3rem;
  line-height: 3rem;
}
.info .info-text {
  margin-bottom: 2rem;
  text-align: left;
}
.info .info-img {
  width: 95%;
  text-align: center;
}
.info .info-img img {
  width: 100%;
}
@media (max-width: 768px) {
  .info {
    width: 60%;
    margin-left: 20%;
  }
}
@media (max-width: 320px) {
  .info {
    width: 80%;
    margin-left: 10%;
  }
}
