.customer-categories {
  width: 25%;
}
.customer-categories__title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  color: #8c8c8c;
  margin-bottom: 3rem;
}
.customer-categories__items {
  position: sticky;
  top: 20px;
}
.customer-categories__items .customer-categories__item {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;

  margin-bottom: 1.6rem;
}
.customer-categories__item .customer-categories__link {
  text-decoration: none;
  color: #000f08;
}
.customer-categories__item .customer-categories__link:hover {
  color: #8c8c8c;
}
@media (max-width: 768px) {
  .customer-categories__items .customer-categories__item {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 320px) {
  .customer-categories {
    display: none;
  }
}
