body {
  font-family: "Roboto", sans-serif;
}
.mistake-page {
  text-align: center;
  width: 100%;
}
.size-page {
  width: 90wv;
  text-align: center;
}
.size-page img {
  width: 100%;
}
@media (max-width: 320px) {
  .mistake-page img {
    width: 100%;
  }
}
