.search-input {
  border: none;
  width: 30%;
  outline: none;
  transition: 0.2s;
}
.search-input:focus {
  border-bottom: #d8d8d8 1px solid;
}
.fa-search {
  color: #000f08;
  transition: 0.2s;
}
.fa-search:hover {
  color: #8c8c8c;
}
.input-loop {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .search-input {
    width: 90%;
  }
  .input-loop {
    display: none;
  }
}
@media (max-width: 768px) {
  .input-loop {
    display: inline;
  }
}
