.footer {
  padding-top: 8rem;
  padding-bottom: 7.5rem;
}
.footer-text {
  text-align: center;
  margin-bottom: 5rem;
  font-weight: 500;
}
.footer-text .footer-text__title {
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.04em;
  color: #000f08;
  margin-bottom: 1.4rem;
}
.footer-text .footer-text__desc {
  font-size: 1rem;
  line-height: 1rem;
  margin-bottom: 3rem;
}
.footer-text__form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-text__form .footer-text__form_input {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 0.8rem;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.04em;
  color: #8c8c8c;
  border: none;
  border-bottom: #d8d8d8 2px solid;
}
.footer-text__form .footer-text__form_input:focus {
  border: none;
  outline: none;
  border-bottom: #d8d8d8 2px solid;
}
.footer-text__form .footer-text__form_button {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.04em;
  color: #000f08;
  border: none;
  margin: 5px 2px;
  background-color: #fff;
  outline: none;
  transition: 0.2s;
}
.footer-text__form .footer-text__form_button:hover {
  outline: none;
  color: #8c8c8c;
}
.footer-col {
  display: flex;
  justify-content: space-evenly;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  color: #000f08;
  text-decoration: none;
}
.footer-col:hover {
  text-decoration: none;
}
.footer-col div {
  display: flex;
  flex-direction: column;
}
.footer-col .footer__title {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.04em;
  margin-bottom: 2.5rem;
}
.footer-col .footer__link {
  text-decoration: none;
  color: #000f08;
  margin-bottom: 1.6rem;
}
.footer-col .footer__link:hover {
  color: #8c8c8c;
  transition: 0.2s;
}
.footer-media_block {
  display: none;
}
@media (max-width: 768px) {
  .footer-col {
    flex-wrap: wrap;
  }
}
@media (max-width: 320px) {
  .footer-col {
    display: none;
  }
}
