.scrollTop {
  position: fixed;
  width: 500px;
  /* width: 100%; */
  bottom: 20px;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.7;
  display: block;
  margin-left: 50%;
  background: #8c8c8c;
  border-radius: 20%;
}

.scrollTop:hover {
  opacity: 1;
  transition: 0.2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@media (min-width: 768px) {
  .scrollTop {
    display: none;
  }
}
