.main-text {
  width: 40%;
  padding: 1rem;
  color: #ffffff;
}
.main-text .main-text__title {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 1.6rem;
}
.main-text .main-text__descr {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.04em;

  margin-bottom: 2.5rem;
}
.main-text .main-text__button {
  font-weight: 500;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 1rem 2.5rem;
  outline: none;
  transition: 0.2s;
}
.main-text .main-text__button:hover {
  border: 1px solid white;
  background-color: rgba(37, 37, 37, 0.5);
  color: white;
  outline: none;
}
@media (max-width: 768px) {
  .main-text {
    width: 60%;
  }
}
@media (max-width: 380px) {
  .main-text {
    text-align: center;
    color: #000f08;
    background-color: #fff;
    width: 100%;
  }
  .main-text .main-text__button {
    border: 1px solid #000f08;

    color: #000f08;
  }
  .main-text .main-text__button:hover {
    border: 1px solid #000f08;
    background-color: rgba(37, 37, 37, 0.5);
    color: #ffffff;
  }
}
