.catalog-page-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.catalog-page-container .catalog-page-categories {
  width: 15%;
}
.catalog-page-container .catalog-page-goods {
  width: 79%;
  padding-top: 1.5rem;
}
@media (max-width: 768px) {
  .catalog-page-container {
    flex-direction: column;
  }
  .catalog-page-container .catalog-page-categories {
    width: 90%;
  }
  .catalog-page-container .catalog-page-goods {
    width: 95%;
    text-align: center;
  }
}
