.screen_pic1 {
  background: url(./img/dress.jpg) center no-repeat #373737;
  background-size: cover;
  background-color: #373737;
  background-position: top;
  position: relative;
  height: 99vh;
  /* padding-top: 60vh; */
  padding-left: 1.8rem;
  align-items: flex-end;
  display: flex;
  padding-bottom: 20px;
}
.screen_pic2 {
  background: url(./img/coats.jpg) center no-repeat #373737;
  background-size: cover;
  background-color: #373737;
  position: relative;
  height: 99vh;
  /* padding-top: 20vh; */
  padding-left: 1.8rem;
  align-items: flex-start;
  display: flex;
  padding-top: 50px;
}
.screen_pic3 {
  background: url(./img/denim.webp) center no-repeat #373737;
  background-size: cover;
  background-color: #373737;
  position: relative;
  height: 99vh;
  /* padding-top: 28vh; */
  padding-left: 8rem;
  align-items: center;
  display: flex;
}
.screen_pic4 {
  background: url(./img/women-coat.jpg) center no-repeat #373737;
  background-size: cover;
  background-color: #373737;
  position: relative;
  height: 99vh;
  /* padding-top: 8vh; */
  padding-left: 10%;
  align-items: flex-start;
  display: flex;
  padding-top: 10px;
}

@media (max-width: 380px) {
  .screen_pic1 {
    background-position: right;
    padding-top: calc(100vh - 180px);
    padding-left: 0;
  }
  .screen_pic2 {
    background-position: left;
    padding-top: calc(100vh - 180px);
    padding-left: 0;
  }
  .screen_pic3 {
    background-position: bottom;
    padding-top: calc(100vh - 180px);
    padding-left: 0;
  }
  .screen_pic4 {
    background-position: center;
    padding-top: calc(100vh - 180px);
    padding-left: 0;
  }
}
@media (max-width: 768px) {
  .screen_pic1 {
    background-position: right;
  }
}
